.container {
  min-width: 750px;
  height: 65px;
  background-color: white;
  border-radius: 8px;

  -webkit-box-shadow: -1px 0px 13px 0px rgba(237, 237, 237, 1);
  -moz-box-shadow: -1px 0px 13px 0px rgba(237, 237, 237, 1);
  box-shadow: -1px 0px 13px 0px rgba(237, 237, 237, 1);
}

.container > input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  font-size: 32px;
  font-family: var(--font-family-inter-light);
  font-weight: 300;
}
